<template>
  <div class="archives __container">
    <div class="archives__wrapper">
      <bread-crumb :pages="breadCrumb"></bread-crumb>
      <div class="archives__wrapper-journals">
        <div v-for="item in journals" :key="item.year" class="archives__wrapper-journal">
          <div class="archives__wrapper-year">{{ item.year }}</div>
          <div class="archives__wrapper-file">
            <div v-for="elem in item.magazines" :key="elem.uuid" @click="$router.push(`/archive/${elem.uuid}`)" class="archives__wrapper-item">
              <div class="archives__wrapper-image">
                <img :src="require(`@/assets/img/journal__${computedLocale}.webp`)" alt="" />
              </div>
              <div class="archives__wrapper-name">{{ elem.content }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        journals: [],
        breadCrumb: [
          {
            name: this.$t('menu.main'),
            path: '/'
          },
          {
            name: this.$t('menu.archive'),
            path: '/archive'
          }
        ]
      }
    },
    computed: {
      computedLocale() {
        return this.$i18n.locale
      }
    },
    async fetch() {
      await this.fetchJournal()
    },
    methods: {
      async fetchJournal() {
        try {
          const { data, status } = (await this.$axios.post('admin/get-archive')).data
          if (status) {
            this.journals = data
          }
        } catch (error) {
          console.log(error)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .archives {
    &__wrapper {
      margin: 20px 0;
      &-journal {
        border-bottom: 1px solid #cccccc;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
      &-year {
        font-weight: normal;
        font-size: 36px;
        margin-bottom: 20px;
        padding: 10px;
        color: var(--primary);
      }
      &-file {
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
      }
      &-item {
        cursor: pointer;
      }
      &-image {
        width: 150px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-name {
        padding: 10px 0;
        max-width: 150px;
        white-space: pre-wrap;
        text-align: center;
        font-size: 16px;
        color: var(--primary);
      }
    }
  }
</style>
