<template>
    <div class="journal-current__articles-article">
        <div class="journal-current__articles-title">
            <p>{{ article.title }}</p>
        </div>
        <div class="journal-current__articles-authors">
            <nuxt-link v-for="(elem, index) in article.authorName" :key="index"
                :to="localePath(`/${elem.name}?id=${elem.uuid}`)">{{ elem.name }}
            </nuxt-link>
        </div>
        <div @click="openPdf(article.path, article.uuid, false)" class="journal-current__articles-file">PDF (RUS)</div>
        <div class="journal-current__articles-datas">
            <span class="pages">{{ article.page }}</span>
            <span class="views">{{ article.downloadCount }}</span>
        </div>
        <div class="journal-current__articles-annotation">
            <h4>Аннотация</h4>
            <p>
                {{ article.desc }}
            </p>
        </div>
    </div>
</template>

<script>

import openPdf from '@/mixins/openPdf'

export default {
    mixins: [openPdf],
    data() {
        return {
            article: {
                authorName: [],
                desc: '',
                downloadCount: 0,
                page: '',
                path: '',
                title: '',
                firstPage:'',
                lastPage:'',
                dateFormat:'',
                content:'',
                issue:''
            }
        }
    },
    head() {
        return {
            meta: [
                { name: 'citation_title', content: this.article.title },
                { name: 'citation_author', content: this.article.authorName?.map(elem=>elem.name).join(' ') },
                { name: 'citation_publication_date', content: this.dateConvert(this.article.dateFormat)  },
                { name: 'citation_journal_title', content: 'ВСЕМИРНЫЙ УЧЕНЫЙ' },
                { name: 'citation_volume', content: '1' },
                { name: 'citation_issue', content: this.article.issue },
                { name: 'citation_firstpage', content: this.article.firstPage  },
                { name: 'citation_lastpage', content: this.article.lastPage },
                { name: 'citation_pdf_url', content: `https://wsemiruch.online${this.article.path}` },
                
            ],
        }
    },

    async mounted() {
        await this.fetchOneItem()
    },
    methods: {
        async fetchOneItem() {
            try {
                const { data, status } = (await this.$axios.post('admin/get-article-by-id',{uuid:this.$route.params.id})).data
                if (status) {
                    this.article.authorName = data.authorName
                    this.article.desc = data.desc
                    this.article.downloadCount = data.downloadCount
                    this.article.page = data.page
                    this.article.path = data.path
                    this.article.title = data.title
                    this.article.dateFormat = data.dateFormat
                    this.article.content = data.content
                       
                    const [firstPart, secondPart] =  data.page?.split('-') 
                    const [firstText, secondText] = data.content?.split('№')
                    this.article.issue =secondText

                    this.article.firstPage = firstPart || ''
                    this.article.lastPage = secondPart || ''
                    

                }
            } catch (error) {
                console.log(error)
            }
        },
        dateConvert(dateString){
            const [year, month, day] = dateString?.split('-') || '';
            return `${day}/${month}/${year}`;
        }
    }
}
</script>

<style lang="scss" scoped>
.journal-current {
    margin-top: 10px;

    &__header {
        padding: 10px;
        background: #e6e6e6;

        h2 {
            text-transform: uppercase;
            font-size: 20px;
        }
    }

    &__release {
        padding: 20px 10px;

        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 700px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &-text {
            font-size: 28px;
            font-style: italic;

            @media (max-width: 700px) {
                margin-bottom: 10px;
            }
        }

        &-file {
            display: flex;
            justify-content: space-between;

            p {
                font-weight: normal;
                font-size: 18px;
                margin-right: 20px;
            }

            span {
                color: #29abe2;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    color: var(--hover);
                    text-decoration: underline;
                }
            }
        }
    }

    &__articles {
        &-header {
            border-bottom: 1px solid #cccccc;
            padding-bottom: 10px;

            p {
                margin-left: 25px;
                padding: 3px 25px;
                background: #666666;
                color: #fff;
                width: 25%;
                line-height: 25px;
                font-size: 17px;
                text-transform: uppercase;

                @media (max-width: 700px) {
                    width: 100%;
                    margin-left: 0;
                }
            }
        }

        &-article {
            padding: 10px;
            padding-bottom: 20px;
            margin-bottom: 10px;
            border-bottom: 1px solid #cccccc;
        }

        &-title {
            color: #29abe2;
            text-decoration: none;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 20px;
            cursor: pointer;

            &:hover {
                color: var(--hover);
            }
        }

        &-authors {
            font-size: 16px;
            font-style: italic;
            margin-bottom: 15px;

            a {
                margin-right: 15px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        &-file {
            color: #29abe2;
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
            margin-bottom: 10px;
        }

        &-datas {
            margin-bottom: 5px;

            .pages {
                position: relative;
                color: #808080;
                font-size: 15px;
                margin-right: 30px;
                text-transform: lowercase;

                &:before {
                    content: '';
                    display: inline-block;
                    margin-right: 5px;
                    width: 15px;
                    height: 15px;
                    background: url('@/assets/img/icon_page.svg') 0 0 no-repeat;
                    vertical-align: top;
                }
            }

            .views {
                position: relative;
                color: #808080;
                font-size: 15px;
                margin-right: 30px;
                text-transform: lowercase;

                &:before {
                    content: '';
                    display: inline-block;
                    margin-right: 5px;
                    width: 20px;
                    height: 19px;
                    background: url('@/assets/img/icon_eye.svg') 0 0 no-repeat;
                    vertical-align: top;
                }
            }
        }

        &-annotation {
            margin-bottom: 5px;

            h4 {
                color: #29abe2;
                font-size: 14px;
                margin-bottom: 10px;
            }

            p {
                margin-left: 10px;
                color: #333;
                line-height: 20px;
            }
        }
    }
}
</style>