<template>
    <div>
      <bread-crumb :pages="breadCrumb"></bread-crumb>
      <the-current></the-current>
    </div>
  </template>
  
  <script>
    export default {
      data() {
        return {
          breadCrumb: [
            {
              name: this.$t('menu.main'),
              path: '/'
            },
            {
              name: this.$t('menu.current'),
              path: '/current'
            }
          ]
        }
      }
    }
  </script>
  
  <style lang="scss" scoped></style>
  