@charset "UTF-8";

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-Black.woff2') format('woff2'), url('../fonts/Inter-Black.woff') format('woff'),
    url('../fonts/Inter-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-Bold.woff2') format('woff2'), url('../fonts/Inter-Bold.woff') format('woff'),
    url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-ExtraBold.woff2') format('woff2'), url('../fonts/Inter-ExtraBold.woff') format('woff'),
    url('../fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-ExtraLight.woff2') format('woff2'), url('../fonts/Inter-ExtraLight.woff') format('woff'),
    url('../fonts/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-Light.woff2') format('woff2'), url('../fonts/Inter-Light.woff') format('woff'),
    url('../fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-Medium.woff2') format('woff2'), url('../fonts/Inter-Medium.woff') format('woff'),
    url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-Regular.woff2') format('woff2'), url('../fonts/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-SemiBold.woff2') format('woff2'), url('../fonts/Inter-SemiBold.woff') format('woff'),
    url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url('../fonts/Inter-Thin.woff2') format('woff2'), url('../fonts/Inter-Thin.woff') format('woff'),
    url('../fonts/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 20rem;
}

body {
  line-height: 1;
  font-size: 0.875rem;
  font-family: Inter;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: Inter;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #064fa2;
  --secondary: #be0101;
  --text: #333333;
  --hover: #b2b2b2;
  --gray: #686868;
  --d-item-1: #ddfdef;
  --d-item-2: #e9f4fe;
  --d-item-3: #fef3e9;
  --d-item-4: #ffd5a4;
  --d-item-5: #c6e4ff;
  --gray-2: #586a84;
  --border: #bcbcbc;
  --input-back: #f5f5f5;
  --search-color: #7d8fa9;
  --search-back: #f2f6fa;
  --card-icon: #737373;
  --error: #ff6363;
  --border: #c1c1c1;
  --input: #f4f4f4;
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Inter;
  font-style: normal;
  color: var(--text);
}

._lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
[class*='__container'] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media (max-width: 375px) {
  [class*='__container'] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.header__menu-item._active {
  color: var(--hover);
}

.nuxt-link-active,
.nuxt-link-exact-active {
  color: var(--hover);
}

.journal__pdf {
  background: var(--primary);
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  color: var(--white);
}
.journal__date {
  font-weight: 600;
  font-size: 18px;
  margin-left: 10px;
  line-height: 22px;
  color: var(--text);
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  width: 100%;
}

.col-1 {
  grid-column-start: span 1;
}
.row-1 {
  grid-row-start: span 1;
}
.col-2 {
  grid-column-start: span 2;
}
.row-2 {
  grid-row-start: span 2;
}
.col-3 {
  grid-column-start: span 3;
}
.row-3 {
  grid-row-start: span 3;
}
.col-4 {
  grid-column-start: span 4;
}
.row-4 {
  grid-row-start: span 4;
}
.col-5 {
  grid-column-start: span 5;
}
.row-5 {
  grid-row-start: span 5;
}
.col-6 {
  grid-column-start: span 6;
}
.row-6 {
  grid-row-start: span 6;
}
.col-7 {
  grid-column-start: span 7;
}
.row-7 {
  grid-row-start: span 7;
}
.col-8 {
  grid-column-start: span 8;
}
.row-8 {
  grid-row-start: span 8;
}
.col-9 {
  grid-column-start: span 9;
}
.row-9 {
  grid-row-start: span 9;
}
.col-10 {
  grid-column-start: span 10;
}
.row-10 {
  grid-row-start: span 10;
}
.col-11 {
  grid-column-start: span 11;
}
.row-11 {
  grid-row-start: span 11;
}
.col-12 {
  grid-column-start: span 12;
}
.row-12 {
  grid-row-start: span 12;
}

.flex {
  display: flex;
}

.flex-sb {
  justify-content: space-between;
}
.flex-x-center {
  justify-content: center;
}
.flex-x-start {
  justify-content: flex-start;
}
.flex-x-end {
  justify-content: flex-end;
}
.flex-y-center {
  align-items: center;
}
.flex-y-start {
  align-items: flex-start;
}
.flex-y-end {
  align-items: flex-end;
}
.flex-column {
  flex-direction: column;
}

.mr-1 {
  margin-right: 10px;
}
.ml-1 {
  margin-left: 10px;
}
.mt-1 {
  margin-top: 10px;
}
.mb-1 {
  margin-bottom: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mb-2 {
  margin-bottom: 20px;
}
.ml-2 {
  margin-left: 20px;
}
.mr-2 {
  margin-right: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mb-3 {
  margin-bottom: 30px;
}
.ml-3 {
  margin-left: 30px;
}
.mr-3 {
  margin-right: 30px;
}
.mt-4 {
  margin-top: 40px;
}
.mb-4 {
  margin-bottom: 40px;
}
.ml-4 {
  margin-left: 40px;
}
.mr-4 {
  margin-right: 40px;
}
.mt-5 {
  margin-top: 50px;
}
.mb-5 {
  margin-bottom: 50px;
}
.ml-5 {
  margin-left: 50px;
}
.mr-5 {
  margin-right: 50px;
}

.send__btn {
  padding: 10px;
  background: var(--primary);
  border-radius: 6px;
  color: var(--white);
  margin-right: 10px;
}
.reset__btn {
  padding: 10px;
  background: var(--error);
  border-radius: 6px;
  color: var(--white);
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
  height: 2px;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #c1c1c1c1;
  height: 4px;
}
::-webkit-scrollbar-corner {
  visibility: hidden;
  opacity: 0px;
}
