<template>
  <div class="wrapper">
    <the-header></the-header>
    <div class="main __container">
      <the-banner></the-banner>
      <the-menu></the-menu>
      <Nuxt />
    </div>
    <the-footer></the-footer>
  </div>
</template>
<script>
  export default {}
</script>

<style lang="scss" scoped>
  .wrapper {
    min-height: 100vh;
    width: 100%;
  }
  .main {
    min-height: calc(100vh - 56px - 281px);
  }
</style>
