<template>
  <div class="after __container">
    <bread-crumb :pages="breadCrumb"></bread-crumb>
    <div class="after__wrapper">
      <h2 class="author__name">{{ $route.params.id }}</h2>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        breadCrumb: [
          {
            name: 'Главная страница',
            path: '/'
          },
          {
            name: 'Журнал',
            path: '/1111'
          }
        ]
      }
    },
    async mounted() {
      await this.fetchArticles()
    },
    methods: {
      async fetchArticles(id) {
        try {
          const { data, status } = (await this.$axios.post('admin/get-author', { UUID: this.$route.query.id })).data
          if (status) {
            console.log(data)
          }
        } catch (error) {
          console.log(error)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .after {
    margin-top: 30px;
    &__items {
    }
    &__item {
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--primary);
      &-title {
        margin-bottom: 10px;
        font-size: 20px;
        cursor: pointer;
        font-weight: 600;
      }
      &-user {
        margin-bottom: 10px;
        font-style: italic;
        font-size: 16px;
        font-weight: 500;
        color: var(--primary);
        cursor: pointer;
      }
      &-pages {
        margin-bottom: 10px;
      }
      &-description {
        margin-bottom: 10px;
        h2 {
          margin-bottom: 5px;
          font-size: 14px;
          font-weight: 600;
        }
        p {
          font-weight: 500;
          line-height: 20px;
        }
      }
      &-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }
    }
  }
  .author__name {
    font-size: 24px;
    padding: 10px;
    font-weight: 700;
    margin-bottom: 20px;
  }
</style>
