<template>
  <div class="journal-about">
    <bread-crumb :pages="breadCrumb"></bread-crumb>
    <div class="journal-about__header">
      <h2>{{ $t('menu.about') }}</h2>
    </div>
    <div class="journal-about__description">
      <p>
        Цель журнала <strong>«Всемирный ученый»</strong> – представить научной общественности, преподавателям университетов, молодым учёным и
        аспирантам оригинальные результаты теоретических и прикладных исследований в науке. Основная тематика публикуемых в журнале на русском и
        английском языках оригинальных научных статей и обзоров:
      </p>
      <br />
      <ol>
        <li>Физика</li>
        <li>Математика</li>
        <li>Культурология</li>
        <li>Химия</li>
        <li>Биология</li>
        <li>Техника и технология</li>
        <li>Сельское хозяйство</li>
        <li>История</li>
        <li>Экономика и управление</li>
        <li>Философия</li>
        <li>Филология</li>
        <li>Юриспруденция</li>
        <li>Педагогика</li>
        <li>Медицина</li>
        <li>Фармацевтика</li>
        <li>Ветеринария</li>
        <li>Искусствоведение</li>
        <li>Искусствоведение</li>
        <li>Социология</li>
        <li>Политология</li>
        <li>Геология и геодезия</li>
        <li>География</li>
        <li>Экология</li>
        <li>Архитектура</li>
      </ol>
      <h3 style="margin-top: 20px">Периодичность</h3>
      <p>Ежемесячный</p>
      <h3 style="margin-top: 20px">Политика свободного доступа</h3>
      <p>
        Этот журнал предоставляет непосредственный открытый доступ к своему контенту, исходя из следующего принципа: свободный открытый доступ к
        результатам исследований способствует увеличению глобального обмена знаниями.
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        breadCrumb: [
          {
            name: this.$t('menu.main'),
            path: '/'
          },
          {
            name: this.$t('menu.about'),
            path: '/about'
          }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .journal-about {
    &__header {
      padding: 10px;
      background: #e6e6e6;
    }
  }
  .journal-about__description {
    padding: 20px;
    margin-top: 20px;
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      line-height: 140%;
      margin-bottom: 10px;
    }
    ol {
      padding: 0 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      li {
        line-height: 100%;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
</style>
