<template>
  <div class="journal-about">
    <bread-crumb :pages="breadCrumb"></bread-crumb>

    <div class="journal-about__description">
      <p>
        <strong
          ><span style="color: black">Образец статьи – <a style="text-decoration: underline" href="standart.docx">СКАЧАТЬ!</a> </span></strong
        >
      </p>
      <p style="text-align: justify">
        <strong><span style="color: black">Объем:</span></strong
        ><span style="color: black">&nbsp;к публикации принимаются статьи объемом&nbsp;</span><strong><span>не менее 5-х страниц</span></strong
        >.
      </p>
      <p><span>&nbsp;</span></p>
      <p style="text-align: justify">
        <strong><span style="color: black">Язык публикаций:</span></strong
        ><span style="color: black">&nbsp;РУССКИЙ и АНГЛИЙСКИЙ.</span>
      </p>
      <p><span>&nbsp;</span></p>
      <p style="text-align: justify">
        <strong><span style="color: black">Формат:</span></strong
        ><span style="color: black">&nbsp;статьи должны быть выполнены в текстовом редакторе&nbsp;</span><strong><span>Microsoft Word</span></strong
        >.
      </p>
      <p style="text-align: justify">
        <strong><span style="color: black">Размер страницы – А4</span></strong
        ><span style="color: black">, ориентация листа – книжная,&nbsp;</span><strong><span>поля страницы – 2 см со всех сторон</span></strong
        >. Страницы не нумеруются.
      </p>
      <p><span>&nbsp;</span></p>
      <p style="text-align: justify">
        <strong><span style="color: black">УДК:</span></strong
        ><span style="color: black">&nbsp;присваивается индекс УДК, строчные буквы,&nbsp;</span
        ><strong><span>шрифт – Times New Roman 14</span></strong
        >, интервал –&nbsp;<strong><span>полуторный</span></strong
        >, выравнивание по левому краю.<br /><br /><strong><span>УДК можно посмотреть на сайте:&nbsp;</span></strong
        ><a target="_blank" rel="noopener noreferrer nofollow" href="https://teacode.com/online/udc/"
          ><strong><span style="color: rgb(0, 152, 157)">https://teacode.com/online/udc/</span></strong></a
        >
      </p>
      <p><span>&nbsp;</span></p>
      <p style="text-align: justify">
        <strong><span style="color: black">Информация об авторах:</span></strong
        ><span style="color: black"
          >&nbsp;строчными буквами ученая степень, ученое звание, должность. На следующей строке полное наименование организации и в скобках страна и
          город.</span
        >
      </p>
      <p><span>&nbsp;</span></p>
      <p style="text-align: justify">
        <strong><span style="color: black">Заголовок (название) статьи:</span></strong
        ><span style="color: black"
          >&nbsp;ниже через один интервал заголовок статьи прописными буквами, шрифт – полужирный, Times New Roman 14, интервал – полуторный,
          выравнивание по центру.</span
        >
      </p>
      <p><span>&nbsp;</span></p>
      <p style="text-align: justify">
        <strong><span style="color: black">Аннотация и ключевые слова:</span></strong
        ><span style="color: black"
          >&nbsp;через отступ в один интервал пишется аннотация и ключевые слова, шрифт – курсив, Times New Roman 12, интервал – полуторный,
          выравнивание по ширине.</span
        >
      </p>
      <p><span>&nbsp;</span></p>
      <p style="text-align: justify">
        <strong><span style="color: red">Приложение 1</span></strong
        ><span style="color: black">.&nbsp;</span><em><span>Образец оформления статьи</span></em>
      </p>
      <div style="font-family: 'Times New Roman'">
        <p style="text-align: justify">
          <em><span style="color: black">&nbsp;</span></em>
        </p>
        <p style="text-align: justify">
          <strong><span style="color: black">УДК 627.7</span></strong>
        </p>
        <p style="text-align: center">
          <strong><span style="color: black">Иванов Р.Р.</span></strong
          ><span style="color: black"
            ><br />канд. экон. наук, доцент кафедры экономики и финансов<br />Пермский национальный исследовательский политехнический университет<br />(г.
            Пермь, Россия)<br /><br /></span
          ><strong><span>Петров А.А.</span></strong
          ><br />канд. экон. наук, доцент кафедры экономики и финансов<br />Пермский национальный исследовательский политехнический университет<br />(г.
          Пермь, Россия)<br /><br /><strong
            ><span>ЭКОНОМЕТРИЧЕСКИЙ АНАЛИЗ ВЛИЯНИЯ КОЛИЧЕСТВА<br />ЛЕГКОВЫХ АВТОМОБИЛЕЙ НА ЗАГРЯЗНЕНИЕ АТМОСФЕРНОГО ВОЗДУХА</span></strong
          >
        </p>
        <p style="text-align: justify">
          <strong
            ><em><span style="color: black">Аннотация</span></em></strong
          ><em
            ><span style="color: black"
              >: в работе построена математическая модель, характеризующая зависимость загрязнения атмосферного воздуха от количества легковых
              автомобилей. Представлен корреляционный и регрессионный анализ. При помощи эконометрических инструментов спрогнозированы тренды развития
              фактора в модели, на основании чего осуществлен прогноз загрязнения атмосферного воздуха.</span
            ></em
          >
        </p>
        <p style="text-align: justify">
          <em><span style="color: black">&nbsp;</span></em>
        </p>
        <p style="text-align: justify">
          <strong
            ><em><span style="color: black">Ключевые слова</span></em></strong
          ><em
            ><span style="color: black">: загрязнение, атмосферный воздух, легковые автомобили, эконометрический анализ, прогнозирование.</span></em
          >
        </p>
        <p style="text-align: justify"><span style="color: black">&nbsp;</span></p>
        <p style="text-align: justify">
          <span style="color: black"
            >В начале ХХI века происходило значительное и резкое увеличение мирового промышленного производства. В связи с этим правительства многих
            государств озаботились вопросом обеспечения своих стран энергетическими ресурсами. Поскольку мировые запасы угля велики и доступны, по
            сравнению с прочими углеводородами, на уголь начали обращать все большее и большее внимание. Угольная промышленность играет значительную
            роль в топливно-энергетическом комплексе России. Она обеспечивает население, энергетику, металлургию и ряд других отраслей [1, с.
            18].</span
          >
        </p>
        <p style="text-align: justify"><span style="color: black">&nbsp;</span></p>
        <p style="text-align: justify">
          <strong><span style="color: black">Таблица 1</span></strong
          ><span style="color: black"
            >&nbsp;– Коэффициенты корреляции между объемом выбросов загрязняющих веществ в атмосферный воздух (y) и факторами (xi)</span
          >
        </p>
        <table class="table__anketa">
          <thead>
            <tr>
              <th>Фактор</th>
              <th>Характер исследования</th>
              <th>Коэффициент корреляции</th>
              <th>Сила связи</th>
              <th>Характер связи</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Количество легковых автомобилей (х1)</td>
              <td>Временной</td>
              <td>-0,61</td>
              <td>Существенная</td>
              <td>Обратная</td>
            </tr>
            <tr>
              <td>ВВП (х2)</td>
              <td>Временной</td>
              <td>-0,60</td>
              <td>Существенная</td>
              <td>Обратная</td>
            </tr>
            <tr>
              <td>Численность населения (х3)</td>
              <td>Временной</td>
              <td>-0,10</td>
              <td>Слабая</td>
              <td>Прямая</td>
            </tr>
            <tr>
              <td>Среднедушевой доход населения (х4)</td>
              <td>Временной</td>
              <td>-0,52</td>
              <td>Существенная</td>
              <td>Обратная</td>
            </tr>
          </tbody>
        </table>
        <p style="text-align: center">
          <strong><span style="color: black">Список литературы:</span></strong>
        </p>
        <p style="line-height: 160%; letter-spacing: 1px">
          <span style="color: black"><br /></span
          ><span>
            &nbsp; 1. Плакиткина Л.С. Анализ развития угольной промышленности в оснвых странах мира // Горная промышленность. 2011. №2 (96). С.
            18-22.</span
          ><br /><span>
            &nbsp; 2. Ревазов А.М., Бурчаков В.А. Актуальные проблемы развития угольной промышленности России // Горный информационно-аналитический
            бюллетень. 2011. № 5. С. 302-305.</span
          ><br /><span>&nbsp; 3. Единая межведомственная информационно-статистическая система, официальный сайт [Электронный ресурс]. URL: </span
          ><a target="_blank" rel="noopener noreferrer nofollow" href="http://fedstat.ru/"><span>http://fedstat.ru/</span></a
          ><span> (дата обращения: 31.05.14).</span><br /><span></span> &nbsp; 4. Федеральная служба государственной статистики Российской Федерации
          [Электронный ресурс]. URL:
          <a target="_blank" rel="noopener noreferrer nofollow" href="http://www.gks.ru/"><span>http://www.gks.ru/</span></a
          ><span> (дата обращения: 31.05.14).</span><br /><br />
        </p>
        <p style="text-align: center">
          <strong><span style="color: black">Ivanov R.R.</span></strong
          ><span style="color: black"
            ><br />Associate Professor of the Department of Economics and Finance<br />Perm National Research Polytechnic University<br />(Perm,
            Russia)<br /><br /></span
          ><strong><span>Petrov A.A.</span></strong
          ><br />Associate Professor of the Department of Economics and Finance<br />Perm National Research Polytechnic University<br />(Perm,
          Russia)<br /><br /><strong
            ><span>ECONOMETRIC ANALYSIS OF THE INFLUENCE<br />OF THE NUMBER OF PASSENGER CARS<br />ON ATMOSPHERIC AIR POLLUTION</span></strong
          >
        </p>
        <p style="text-align: justify">
          <strong
            ><em><span style="color: black">Abstract</span></em></strong
          ><em
            ><span style="color: black"
              >: the paper builds a mathematical model that characterizes the dependence of atmospheric air pollution on the number of cars.
              Correlation and regression analysis is presented. With the help of econometric tools, the trends in the development of the factor in the
              model were predicted, on the basis of which the forecast of atmospheric air pollution was carried out.</span
            ></em
          >
        </p>
        <p style="text-align: justify">
          <em
            ><span style="color: black"><br /><br /></span
          ></em>
        </p>
        <p style="text-align: justify">
          <strong
            ><em><span style="color: black">Keywords</span></em></strong
          ><em
            ><span style="color: black">: pollution, atmospheric air, cars, econometric analysis, forecasting.<br /><br /></span></em
          ><strong><span style="color: red">Приложение 2</span></strong
          ><span style="color: black">.&nbsp;</span><em><span>Анкета автора</span></em>
        </p>
        <p style="text-align: center">
          <strong><span style="color: black">АНКЕТА АВТОРА</span></strong>
        </p>
        <!-- Tablisa -->
        <table class="table__anketa">
          <thead>
            <tr>
              <th>Анкета авторов</th>
              <th>Автор 1</th>
              <th>Автор 2</th>
              <th>Автор 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Фамилия, имя, отчество автора (полностью)</td>
              <td>Иванов Роман Романович</td>
              <td>Петров Алексей Алексеевич</td>
              <td></td>
            </tr>
            <tr>
              <td>Город</td>
              <td>Пермь, Россия</td>
              <td>Пермь, Россия</td>
              <td></td>
            </tr>
            <tr>
              <td>Место работы или учебы (полностью)</td>
              <td>Пермский Политех</td>
              <td>Пермский Политех</td>
              <td></td>
            </tr>
            <tr>
              <td>Должность или курс с указанием кафедры или подразделения</td>
              <td>доцент кафедры экономики и финансов</td>
              <td>доцент кафедры экономики и финансов</td>
              <td></td>
            </tr>
            <tr>
              <td>Ученая степень, ученое звание (при наличии)</td>
              <td>канд. экон. наук</td>
              <td>канд. экон. наук</td>
              <td></td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>example@mail.ru</td>
              <td>example@mail.ru</td>
              <td></td>
            </tr>
            <tr>
              <td>Необходим ли сертификат и справка для автора? (да/нет)</td>
              <td>да</td>
              <td>да</td>
              <td></td>
            </tr>
            <tr>
              <td>Название статьи</td>
              <td colspan="3">Эконометрический анализ влияния количества легковых автомобилей на загрязнение атмосферного воздуха</td>
            </tr>
            <tr>
              <td>Раздел (секция) публикации</td>
              <td colspan="3">Экономика</td>
            </tr>
            <tr>
              <td>Формат публикации (Журнал / Конференция)</td>
              <td colspan="3">Журнал</td>
            </tr>
            <tr>
              <td>Количество страниц</td>
              <td colspan="3">3 страницы</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p style="text-align: justify">
        <span style="color: black"><br /></span><strong><span>Анкета автора</span></strong
        ><span
          >&nbsp;подлежит обязательному заполнению и направляется вместе со статьей по электронной почте. Направляя анкету и материалы для
          публикации,&nbsp;</span
        ><strong><span>Вы соглашаетесь с Правилами публикации</span></strong
        ><span>&nbsp;статей.</span>
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        breadCrumb: [
          {
            name: this.$t('menu.main'),
            path: '/'
          },
          {
            name: 'Правило для авторов',
            path: '/authors-rule'
          }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .journal-about {
    &__header {
      padding: 10px;
      background: #e6e6e6;
    }
  }
  .journal-about__description {
    padding: 20px;
    margin-top: 20px;
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 10px;
      text-indent: 10px;
    }
    ol {
      padding: 0 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      li {
        line-height: 100%;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }

  .table__anketa {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 5px;
    margin-bottom: 40px;
    thead {
      tr {
        th {
          text-align: left;
          padding: 10px;
          border: 1px solid #000;
          font-size: 15px;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
          padding: 10px;
          border: 1px solid #000;
          font-size: 15px;
        }
      }
    }
  }
</style>
