<template>
  <div class="journal-about">
    <bread-crumb :pages="breadCrumb"></bread-crumb>
    <div class="journal-about__description">
      <h2>Редакция журнала «ВСЕМИРНЫЙ УЧЕНЫЙ»</h2>
      <h3>Редакционная деятельность</h3>
      <ul>
        <li>Главный редактор: Барановский Максим Сергеевич</li>
        <li>Отвественный секретарь: Д. В. Хацкевич</li>
        <li>Верстка: В. Игнатенко</li>
      </ul>
      <h3>Контактная информация</h3>
      <p>Адрес: Ул. Козлова 2, Минск. 220034, Беларусь</p>
      <p>Email: redactor@wsemiruch.online</p>
      <p>Главный редактор: Барановский Максим Сергеевич</p>
      <p>Телефон номер: +375 25 9134997</p>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        breadCrumb: [
          {
            name: this.$t('menu.main'),
            path: '/'
          },
          {
            name: 'Редакция журнала и контакты',
            path: '/contacts'
          }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .journal-about {
    &__header {
      padding: 10px;
      background: #e6e6e6;
    }
  }
  .journal-about__description {
    padding: 20px;
    margin-top: 20px;
    h2 {
      font-size: 36px;
      font-weight: 600;
      margin-bottom: 40px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dadada;
    }
    h3 {
      font-size: 26px;
      margin-bottom: 10px;
      margin-top: 20px;
      padding-bottom: 5px;
      border-bottom: 1px solid #dadada;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 10px;
      text-indent: 15px;
      text-align: justify;
    }
    ul {
      padding: 0 40px;

      li {
        line-height: 160%;
        font-size: 16px;
        margin-bottom: 10px;
        text-indent: 1.5em;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 9px;
          left: 11px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #666;
        }
      }
    }
  }

  .table__anketa {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 5px;
    margin-bottom: 40px;
    thead {
      tr {
        th {
          text-align: left;
          padding: 10px;
          border: 1px solid #000;
          font-size: 15px;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
          padding: 10px;
          border: 1px solid #000;
          font-size: 15px;
        }
      }
    }
  }
</style>
