<template>
  <div class="main__page">
    <div class="main__page-wrapper">
      <div class="main__page-section">
        <div class="main__page-content">
          <the-journal
            v-if="$route.name === `index___${$i18n.locale}`"
            :data="journals"
          ></the-journal>
          <div class="main__page-page">
            <the-current
              v-if="$route.name === `index___${$i18n.locale}`"
            ></the-current>
            <div class="journal-about__description">
              <h3>Уважаемы представители научного сообщества!</h3>
              <p>
                Приглашаем Вас опубликовать статью в научный журнал Всемирный
                ученый. Журналу присвоены международные индексы ISSN 2712-083D ,
                УДК и ББК, журнал размещается в Научной электронной библиотеке
                (eLibrary.ru). Все статьи журнала размещаются и индексируются на
                платформе Google Scholar. Журнал размещается в научной
                библиотеке КиберЛенинка.
              </p>
              <h4>Публикация журнала состоит из нескольких простых шагов:</h4>
              <ul>
                <li v-for="item in text" :key="item.id">
                  <p>{{ item.name }}</p>
                </li>
              </ul>
            </div>
            <nuxt-child></nuxt-child>
          </div>
        </div>
        <div class="main__page-sidebar">
          <the-sidebar></the-sidebar>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IndexPage",
  data() {
    return {
      text: [
        {
          id: 1,
          name: `Оформите тест статьи в соответствии с требованиями журнала. Требования к оформлению и Образец статьи можно посмотреть в разделе
                    «Правило для авторов» Файл статьи должен быть в формате .doc или .docx (формат Microsoft Word).`,
        },
        {
          id: 2,
          name: `Отправьте статью в редакцию. Статью можно отправить по электронной почте на email: redactor@wsemiruch.online журнала. Регистрация
                    на сайте журнала не требуется.`,
        },
        {
          id: 3,
          name: ` Дождитесь результата проверки статьи. Как правило, первичная проверка осуществляется в течение одного дня. Если в статье имеются
                    недочеты или ошибки - мы сообщим Вам об этом по email. Мелкие технические ошибки и недочеты издательство исправит самостоятельно.
                 `,
        },
        {
          id: 4,
          name: ` После принятия статьи внесите оплату и отправьте скриншот подтверждения оплаты. Публикация осуществляется на платной основе:800 рублей статья до 10 страниц. Оплата производится на сайте журнала - ссылка на оплату.
               `,
        },
        {
          id: 5,
          name: ` Получите сертификат о публикации. После оплаты публикации Вы получите документы о публикации. Сертификат представляют собой
                    цветной документ формата А4, имеют печать и подпись Главного редактора журнала.
                `,
        },
        {
          id: 6,
          name: ` Получите электронный журнал. Рассылка журнала происходит в течение 1 - 2 дней после окончания приема статей в выпуск. На сайте
                    журнала. Вы можете скачать последний выпуск журнала в разделе свежий номер.`,
        },
      ],
      deadline: null,
      timerId: null,
      days: null,
      hours: null,
      minutes: null,
      seconds: null,
      daysTitle: null,
      hoursTitle: null,
      minutesTitle: null,
      secondsTitle: null,
      journals: {},
    };
  },

  async fetch() {
    await this.fetchJournal();
  },
  mounted() {},
  methods: {
    async fetchJournal() {
      try {
        const { data, status } = (
          await this.$axios.post("admin/last-mgn", { page: 1, limit: 500 })
        ).data;
        if (status) {
          this.journals = data;
        }
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.main__page {
  &-banner {
    width: 100%;
    height: 500px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    .banner-head__title {
      padding-top: 30px;
      padding-left: 20px;
      padding-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
      white-space: nowrap;
    }
    .banner-content {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      &__image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__description {
        width: 50%;
      }
    }
    .banner-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__text {
        font-size: 24px;
        font-weight: 700;
        white-space: nowrap;
        padding-left: 20px;
        padding-bottom: 20px;
      }
    }
  }
  &-section {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    @media (max-width: 950px) {
      flex-direction: column;
    }
  }
  &-content {
    width: calc(100% - 400px);
    margin-right: 25px;
    @media (max-width: 950px) {
      width: 100%;
      flex-direction: column;
      margin-right: 0px;
    }
  }
  &-sidebar {
    width: 400px;
    @media (max-width: 950px) {
      width: 100%;
    }
  }
}

.banner-timer {
}
.timer__items {
  display: flex;
  font-size: 24px;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
  white-space: nowrap;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ":";
  position: absolute;
  right: -15px;
}

.journal-about__description {
  padding: 20px;
  margin-top: 20px;
  h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h4 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
    counter-reset: li;
    li {
      line-height: 160%;
      font-size: 16px;
      border: 1px solid #e6e6e6;
      padding: 16px 10px;
      text-indent: 1.5em;
      position: relative;
      margin-bottom: 20px;
      text-indent: 0;
      cursor: pointer;
      p {
        padding-top: 15px;
      }
      &::before {
        border: 2px solid #adcee9;
        position: absolute;
        top: -14px;
        padding: 2px 12px;
        font-size: 13px;
        font-weight: bold;
        color: var(--primary);
        background: #f7fafd;
        counter-increment: li;
        content: counter(li);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
      }
      &::after {
        content: "";
        position: absolute;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: width;
        transition-property: width;
        z-index: -1;
        background: #f0f5fb;
        height: 100%;
        left: 0;
        top: 0;
        width: 0;
      }

      &:hover::before {
        border: 2px solid var(--primary);
        background: var(--primary);
        color: #fff;
        -webkit-transform: translate(-12px, 0);
        -ms-transform: translate(-12px, 0);
        -o-transform: translate(-12px, 0);
        transform: translate(-12px, 0);
      }
      &:hover::after {
        width: 100%;
      }
    }
  }
  @media (max-width: 992px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 479px) {
    ul {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 700px) {
    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }
}
</style>
