<template>
  <div class="journal-about">
    <bread-crumb :pages="breadCrumb"></bread-crumb>
    <div class="journal-about__description">
      <p>
        <strong> Рецензирование</strong> это процедура рассмотрения научных статей для того, чтобы удостовериться в точности и достоверности изложения
        и в необходимых случаях добиться от автора следования стандартам, установленным в конкретной области или науке в целом.
      </p>
      <br />
      <p>
        Настоящий порядок рецензирования рукописей, представляемых с целью публикации устанавливает порядок рецензирования рукописей научных статей,
        представляемых авторами для публикации. Все научные статьи, поступившие в издательство, подвергаются обязательному анонимному рецензированию.
      </p>
      <br />
      <p>
        Рецензирование статей осуществляется членами редакционного совета и редакционной коллегии, а также приглашенными рецензентами – ведущими
        экспертами, обладающими необходимым опытом научной работы по заявленному в статье научному направлению, знакомые с требованиями,
        предъявляемыми редакцией журнала к публикуемым материалам в соответствующей отрасли. Заключение о выборе рецензента для проведения экспертизы
        статьи принимает главный редактор, заместитель главного редактора, ответственный секретарь.
      </p>
      <br />
      <p style="background-color: #dff2fe">
        Ключевая цель рецензентов, как и всего процесса рецензирования, состоит не только в экспертной оценке качества работы, но и в улучшении этого
        качества
      </p>
      <br />
      <p>
        Рецензия должна беспристрастно оценивать научную статью, содержать аргументированный всесторонний анализ ее научных и методических достоинств
        и недостатков. Рецензирование рукописи должно проходить в обстановке конфиденциальности. Рецензенты уведомляются о том, что присланные им
        рукописи являются интеллектуальной собственностью авторов и относятся к данным, не подлежащим разглашению. Нарушение конфиденциальности может
        быть только в случае заявления рецензента о недостоверности или фальсификации материалов, описанных в статье
      </p>
      <br />
      <p>При оценке статьи рецензент учитывает:</p>
      <br />
      <ul style="">
        <li>соответствие тематике научно-практической конференции или журнала, научную новизну и значимость представленных результатов</li>
        <li>правильность применения результатов других авторов</li>
        <li>точность ссылок</li>
        <li>качество изложения и оформления</li>
      </ul>
      <br />
      <p>По итогам рассмотрения рукописи рецензент дает рекомендации о дальнейшей судьбе статьи (каждое решение рецензента обосновывается):</p>
      <br />
      <ul>
        <li>статья рекомендуется к публикации в настоящем виде</li>
        <li>статья может быть рекомендована к публикации после исправления отмеченных недостатков</li>
        <li>статья нуждается в дополнительном рецензировании другим специалистом</li>
        <li>статья не может быть опубликована</li>
      </ul>
      <p>Редакция по электронной почте сообщает автору итоги рецензирования.</p>
      <br />
      <p>
        Рекомендации по доработке статьи редакция направляет автору рукописи. Доработка статьи не должна занимать более двух месяцев с момента
        отправки электронного сообщения о необходимости внесения изменений. Доработанная автором статья повторно направляется на рецензирование.
        Статьи, доработанные автором, повторно направляются на рецензирование тому же рецензенту, который делал критические замечания, или другому по
        усмотрению редакции.
      </p>
      <br />
      <p>
        Рекомендации по доработке статьи редакция направляет автору рукописи. Доработка статьи не должна занимать более двух месяцев с момента
        отправки электронного сообщения о необходимости внесения изменений. Доработанная автором статья повторно направляется на рецензирование.
        Статьи, доработанные автором, повторно направляются на рецензирование тому же рецензенту, который делал критические замечания, или другому по
        усмотрению редакции.
      </p>
      <br />
      <p>
        При незначительных замечаниях, требующих только редакторских правок, и с согласия авторов, может быть принято решение о приеме статьи для
        опубликования. В случае отказа дорабатывать статью авторы должны в письменной или устной форме уведомить о своем решении редакцию. Если авторы
        не возвращают доработанный вариант по истечении трех месяцев со дня отправки рецензии, даже при отсутствии сведений от авторов с отказом от
        доработки статьи, редакция снимает ее с учета.
      </p>
      <br />
      <p>
        В случае возникновения неразрешимых противоречий между автором и рецензентами касательно оценки рукописи редколлегия вправе направить рукопись
        на дополнительное рецензирование. В конфликтных ситуациях решение принимает главный редактор на заседании редакционной коллегии.
      </p>
      <br />
      <p>
        Решение об отказе в публикации рукописи принимается на заседании редакционной коллегии в соответствии с рекомендациями рецензентов. Статья, не
        рекомендованная решением редакционной коллегии к публикации, к повторному рассмотрению не принимается. Сообщение об отказе в публикации
        направляется автору по электронной почте.
      </p>

      <br />
      <p>
        Наличие положительной рецензии не является достаточным основанием для публикации статьи. Окончательное решение о публикации принимается
        редакционной коллегией. В конфликтных ситуациях решение принимает <span color="#035a9e">главный редактор</span>.
      </p>

      <br />
      <p style="background-color: #fff0ef; color: #d82e21">Редакция не вступает в дискуссии с авторами по поводу отклоненных работ.</p>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        breadCrumb: [
          {
            name: this.$t('menu.main'),
            path: '/'
          },
          {
            name: 'Рецензирование',
            path: '/peer-review'
          }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .journal-about {
    &__header {
      padding: 10px;
      background: #e6e6e6;
    }
  }
  .journal-about__description {
    padding: 20px;
    margin-top: 20px;
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 10px;
      text-indent: 15px;
      text-align: justify;
    }
    ul {
      padding: 0 40px;
      li {
        line-height: 160%;
        font-size: 16px;
        margin-bottom: 20px;
        text-indent: 1.5em;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 9px;
          left: 11px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #666;
        }
      }
    }
  }

  .table__anketa {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 5px;
    margin-bottom: 40px;
    thead {
      tr {
        th {
          text-align: left;
          padding: 10px;
          border: 1px solid #000;
          font-size: 15px;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
          padding: 10px;
          border: 1px solid #000;
          font-size: 15px;
        }
      }
    }
  }
</style>
