<template>
  <div class="journal-about">
    <bread-crumb :pages="breadCrumb"></bread-crumb>
    <div class="journal-about__description">
      <h3>
        Публикационная этика отражает нормы профессионального поведения во взаимоотношениях авторов, рецензентов, редакторов в процессе создания,
        распространения и использования научных публикаций.
      </h3>
      <br />
      <p>
        Публикационная этика всегда были одной из ключевых забот академических издательств во всем мире, хотя особый интерес им стали уделять лишь в
        последнее десятилетие
      </p>
      <br />
      <p>
        Публикационная этика, при ее соблюдении, гарантирует высокое качество научных публикаций, доверие к научным исследованиям со стороны общества
        и признание авторской идеи, изложенной в изданных материалах.
      </p>
      <br />
      <p>
        Публикационная этика издательства базируется на уважении личных прав автора и прав на интеллектуальную собственность. Издательство гарантирует
        независимое и честное рассмотрение всех представленных к публикации рукописей, без предубеждения к авторам исходя из национальной или
        религиозной принадлежности, служебного положения, независимо от коммерческих интересов и отношений редакцией и издательством.
      </p>
      <br />
      <p>
        <strong>
          В качестве ключевых характеристик высокого качества публикуемых научно-исследовательских материалов издательством приняты: основательность,
          правдивость, однозначность, полнота представленных материалов, продуманность, оригинальность, прозрачность.
        </strong>
      </p>
      <br />
      <p>
        Все участники процесса подготовки материалов к публикации (авторы, рецензенты, члены редколлегии, представители издательства) должны следовать
        изложенным стандартам публикационной этики.
      </p>
      <br />
      <p>
        Редакторы обладают исключительным правом принять рукопись к публикации или отклонить ее. Поступающие рукописи должны быть подвергнуты
        рецензированию, однако рукопись может быть отвергнута на этапе, предшествующем рецензированию, если для этого имеется веская причина
        (например, в тех случаях, когда тематика статьи не соответствует тематике издания, статья очевидно низкого научного качества, статья ранее
        была опубликована в другом издании, низкий уровень оригинальности статьи и пр.). Редакторы принимают статью к публикации в соответствии со
        своей убежденностью в ее соответствии требованиям издания. Окончательное решение о публикации статьи или об отказе в таковой принимается
        научным руководителем издательства.
      </p>
      <br />
      <p>
        Потенциальный конфликт интересов имеет место тогда, когда имеются финансовые, личные или профессиональные условия, способные оказать
        воздействие на научное суждение рецензента или редактора и, как следствие, на решение редколлегии относительно публикации статьи.
      </p>
      <br />
      <p>
        Авторы должны раскрывать конфликты интересов, которые могут повлиять на оценку и интерпретацию их рукописи, а так же источники финансовой
        поддержки проекта (гранты, госпрограммы, проекты и т.д.), которые должны быть в обязательном порядке указаны в рукописи.
      </p>
      <br />
      <p>Издательство исходит из того, что самим фактом представления статьи на рассмотрение редколлегии, автор заявляет о том, что:</p>

      <ul>
        <li>в тексте статьи указаны все источники финансирования исследования</li>
        <li>
          отсутствуют коммерческие, финансовые, личные или профессиональные факторы, которые могли бы создать конфликт интересов в отношении поданной
          на обсуждение статьи.
        </li>
      </ul>
      <br />
      <p>
        Публикационная этика гарантирует, что рецензирование не носит предвзятый характер. Наличие конфликта интересов, о котором заявляет кто-либо из
        участников процесса рассмотрения и рецензирования, само по себе не должно приводить к отказу в публикации, потому как важнейшим аспектом
        оценки рукописи является ее научное качество.
      </p>
      <br />
      <p>
        Издательство и редакция журнала выбирает рецензентов независимых в отношении материалов, рассматриваемых для публикации, имеющих достаточный
        опыт и не имеющих конфликта интересов.
      </p>
      <br />
      <p>
        Рецензент не имеет права использовать в своих интересах материалы неизданной рукописи без письменного согласия автора. Рецензент должен
        отказаться от рассмотрения рукописи, в связи с которой у него появляется конфликт интересов из-за конкурентных,. совместных или иных отношений
        с автором либо организацией, имеющей отношение к рукописи.
      </p>
      <br />
      <p>
        Главный редактор имеет возможность консультироваться с остальными членами редакции, членами редколлегии, а также с рецензентами в процессе
        принятия решения о публикации статьи.
      </p>
      <br />
      <h3 style="color: #d82e21">Полнотекстовые файлы всех архивных и текущих выпусков научных изданий находятся в открытом доступе на сайте.</h3>
      <br />
      <p>
        Электронная версия издания является изданием открытого доступа для читателей. При использовании материалов необходимо непременно ссылаться на
        издание и авторов статей (на публикации в научном издании). Архивирование препринтов (до прохождения процедуры рецензирования) и постпринтов
        (подготовленных к публикации, но еще не опубликованных) статей не допускается. Для архивации авторам статей и другим пользователям доступны
        издательские версии pdf-файлов изданий. сразу после публикации очередного номера журнала, без эмбарго.
      </p>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        breadCrumb: [
          {
            name: this.$t('menu.main'),
            path: '/'
          },
          {
            name: 'Этика публикаций',
            path: '/publication-ethics'
          }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .journal-about {
    &__header {
      padding: 10px;
      background: #e6e6e6;
    }
  }
  .journal-about__description {
    padding: 20px;
    margin-top: 20px;
    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      line-height: 140%;
      margin-bottom: 10px;
      text-indent: 15px;
      text-align: justify;
    }
    ul {
      padding: 0 40px;
      li {
        line-height: 160%;
        font-size: 16px;
        margin-bottom: 20px;
        text-indent: 1.5em;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 9px;
          left: 11px;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background-color: #666;
        }
      }
    }
  }

  .table__anketa {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 5px;
    margin-bottom: 40px;
    thead {
      tr {
        th {
          text-align: left;
          padding: 10px;
          border: 1px solid #000;
          font-size: 15px;
        }
      }
    }
    tbody {
      tr {
        td {
          text-align: left;
          padding: 10px;
          border: 1px solid #000;
          font-size: 15px;
        }
      }
    }
  }
</style>
